:root {
  --green-link: rgb(28,212,0);
  --orange-link: rgb(255,124,0);
  --blue-link: rgb(3,66,204);
  --red-link: rgb(204,29,29);
  --purple-link: rgb(160,52,234);
  }

html { box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  }

html, body, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
  }

body {
  background-color: #fff;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: #727272;
  }

a {
  color: var(--green-link);
  padding: 0.4rem 0;
  }

a:hover {
  color: var(--orange-link);
  background-color: #ddd;
  }

a:active {
  color: var(--blue-link);
  background-color: transparent;
  }

h1 {
  font-family: 'Spectral', serif;
  font-size: 3rem;
  font-weight: 700;
  }

h1 a { color: var(--blue-link); }

h2 {
  font-family: 'Spectral', serif;
  font-size: 2.4rem;
  font-weight: 400;
  }

header {
  top: 2%;
  margin-left: 12%;
  z-index: 3;
  position: sticky;
  }

header h1 { font-size: 3rem; }

#mainnav {
  background: rgba(244,244,244,0.7);
  }

#mainnav ul { list-style: none; }

.navpost li {
  border-top: 1px dashed #decced;
  padding: 0.5rem;
  }

.blognav li {
  border-top: 1px dashed #99aa11;
  padding: 0.5rem;
  }

.navpost a {
  font-size: 0.9rem;
  color: var(--red-link);
  text-decoration: none;
  }

.blognav a {
  font-size: 0.9rem;
  color: var(--purple-link);
  text-decoration: none;
  }

.navpost a:hover,
.blognav a:hover { color: var(--orange-link); }


.biggie  {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-gap: 4em;
  margin: 4rem 3vw 0 6vw;
  }

.main {
  z-index: 20;
  font-size: 1.1rem;
  color: rgba(33,33,33,1);
  font-weight: 500;
  }

.main p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 0.33rem;
  margin-bottom: 1rem;
  }

.main ul,
.main ol {
  margin-left: 3.0rem;
  margin-bottom: 1.33rem;
  }

.main li { margin-bottom: 0.33rem; }

.main a { color: var(--green-link); }

.main a:hover { color: var(--orange-link); }

.main p.dateline {
  margin-top: 1.4rem;
  color: rgba(99,99,99,1);
  font-size: 0.8rem;
  }
