:root {
  --green-link: rgb(28,212,0);
  --orange-link: rgb(255,124,0);
  --blue-link: rgb(3,66,204);
  --red-link: rgb(204,29,29);
  }

html { box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  }

html, body, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
  }

body {
  background-color: #fff;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  color: #727272;
  }

a {
  color: var(--green-link);
  padding: 0.4rem 0;
  }

a:hover {
  color: var(--orange-link);
  background-color: #ddd;
  }

a:active {
  color: var(--blue-link);
  background-color: transparent;
  }

h1 {
  font-family: 'Spectral', serif;
  font-size: 3rem;
  font-weight: 700;
  }

h1 a { color: var(--blue-link); }

h2 {
  font-family: 'Spectral', serif;
  font-size: 2.4rem;
  font-weight: 700;
  }

header {
  top: 2%;
  margin-left: 12%;
  z-index: 3;
  position: sticky;
  }

header h1 { font-size: 3rem;  }

nav {
  top: 7%;
  right: 3%;
  z-index: 8;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  position: absolute;
  background: rgba(255,255,255,0.7);
  width: 40%;
  }

.navpost {
  list-style: none;
  opacity: 0.3;
  }

.navpost a {
  display: block;
  width: 100%;
  color: var(--red-link);
  }

.navpost a:hover { color: var(--orange-link); }

a#mswitch { color: var(--red-link); }

a#mswitch:hover { color: var(--orange-link); }

.navtop { z-index: 90; }

.navtop .navpost { opacity: 1; }

footer {
  grid-row-start: 36;
  grid-column: 6/12;
  z-index: 1;
  background: rgba(255,255,255,0.7);
  padding: 0.5rem;
}

.allblognav { list-style: none; }

.allblognav a {
  display: block;
  color: var(--red-link);
  opacity: 0.7;
  }

.navpost.allblognav a { opacity: 1; }

.allblognav a:hover { color: var(--orange-link); }

article p {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  }

article ul,
article ol { margin-left: 1.3rem; }

article li { margin-bottom: 0.3rem; }

.biggie  {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(30, 10px);
  }

.main {
  grid-column: 2/38;
  z-index: 20;
  grid-row-start: 15;
  font-size: 1.1rem;
  color: rgba(33,33,33,1);
  font-weight: 500;
  }

.archive {
  grid-column: 4/-1;
  color: rgba(150,160,170,0.2);
  grid-row-start: 22;
  z-index: 10;
  font-size: 0.8rem;
  }

.archive a {
  pointer-events: none;
  color: rgba(150,160,170,0.3);
  }

.main p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 0.5rem;
  }

.main a { color: var(--green-link); }

.main a:hover { color: var(--orange-link); }

.main p.dateline {
  margin-top: 1.4rem;
  color: rgba(99,99,99,1);
  font-size: 0.8rem;
  }

@media screen and (min-width: 690px) {
/* .main {
  top: 8%;
  left: 4%;
  width: 82%;
  }

.archive {
  top: 10%;
  left: 7%;
  width: 74%;
  } */
}

@media screen and (min-width: 920px) {
  .main {
    grid-column: 4/31;
    grid-row-start: 14;
  }

  .archive {
    grid-column: 5/35;
    grid-row-start: 17;
  }
}
