@import url(https://fonts.bunny.net/css?family=lora:400,400i,700,700i);
@import url(https://fonts.bunny.net/css?family=spectral:200,400,600,800);
@import url(https://fonts.bunny.net/css?family=bitter:200,400,600,900);
@import url(https://fonts.bunny.net/css?family=brygada-1918:400,500,600,700);
@import url(https://fonts.bunny.net/css?family=recursive:400,600,800,900);
/*
font-family: 'Lora', serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Spectral', serif;
font-family: 'Averia Serif Libre', display;
font-family: 'Public Sans', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Brygada 1918', serif;
font-family: 'Recursive', sans-serif;
font-family: 'Finlandica', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/

:root {
  --green: rgb(133,242,82); /* highlight */
  --yellow: rgb(255,255,0); /* highlight */
  --brown: rgb(133,122,111); /* text */
  --darkblue: rgb(39,63,87); /* links */
  --greygreen: rgb(180, 187, 181); /* footer links */
  --purple: rgb(55,45,60); /* footer */

  --seriffont: 'Lora', Georgia, serif;
  --sansfont: 'Recursive', Verdana, sans-serif;
  }

html {
  box-sizing: border-box;
  }

*, *:before, *:after {
  box-sizing: inherit;
  }

html, body {
  margin: 0;
  padding: 0;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
  }

code, pre {
  font-family: monospace;
  font-size: 1rem;
  background: rgba(121, 121, 121, 0.05);
  white-space: pre-wrap;
  }

body {
  background: rgba(250, 252, 254);
  font-family: var(--seriffont);
  color: var(--brown);
  font-size: 1rem;
  }

p {
  line-height: 1.7;
  margin: 1rem 0;
  }

a {
  color: var(--darkblue);
  font-family: var(--sansfont);
  text-decoration: underline dotted;
  }

a:hover {
  color: var(--darkblue);
  background: var(--yellow);
  text-decoration: underline;
  }


/* home */
.wrapper-home {
  display: flex;
  margin: 2vh 3vw;
  flex-wrap: wrap;
  justify-content: center;
  }

@media screen and (min-width: 480px) {
.wrapper-home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2rem 1rem;
  }
}

.intro {
  padding: 1rem;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  }

@media screen and (min-width: 1080px) {
.intro {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  }

}

.intro p {
  font-size: 1.33rem;
  line-height: 1.9;
  margin: 0 0 1rem 0;
  }

.thumb {
  padding: 0.5rem;
  }

.thumb a {
  text-decoration: none;
  }

.thumb img {
  border: 1px solid #bababa;
  aspect-ratio: 3/2;
  width: 18.75rem;
  /* transition: opacity .5s ease-in, visibility .5s, width .4s ease-in; */
  }

.thumb p {
  font-size: 0.825rem;
  line-height: 1.2;
  color: var(--brown);
  text-decoration: underline dotted;
  width: fit-content;
  margin: 0;
  }

.thumb a:hover { background: transparent; }

.thumb a:hover p {
  background: var(--yellow);
  color: var(--darkblue);
  text-decoration: underline;
  }

/* page */
.wrapper-page {
  margin: 2vh 3vw 0;
  }


header {
  display: flex;
justify-content: space-between;
align-items: center;
gap: 2vw;
position: sticky;
top: 1vh;
margin: 0 3vw;
}


nav ul {
  list-style: none;
display: flex;
margin-left: auto;
justify-content: space-between;
gap: 2vw;
padding: 0;
}


footer {
  background: var(--purple);
}

  footer ul {
    padding: 0;
    padding: 1rem 8vw;
    }

  footer li {
    line-height: 1.3;
    font-size: 0.9rem;
    margin: 0 0.5rem 0.75rem;
    color: var(--greygreen);
  }

  footer a {
    color: var(--greygreen);
    padding: 0.125rem;
    }



/* project */
.project-main {
  padding: 2vh 0;
  margin: 2vh 3vw;
  }

#proj-details {
  line-height: 1.7;
  list-style: none;
  font-size: 1rem;
  max-width: 80ch;
  padding-left: 0;
  }

#proj-desc p,
#proj-desc ul {
  max-width: 80ch;
  font-size: 1.2rem;
  }

.project-main h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin: 1rem 0;
  }

#proj-imgs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 1rem;
  padding-top: 4rem;
  border-top: 1px solid var(--brown);
  }

#proj-imgs img {
  border: 1px solid #ccc;
  background: rgb(255,255,255);
  padding: 1rem;
  }


  @media screen and (min-width: 40rem) {
  .wrapper-page {
    margin: 2vh 8vw 0;
    }

  header {
    justify-content: flex-end;
  }

  footer ul {
    column-count: 4;
    }

    .project-main {
      padding: 2vh 0;
      margin: 2vh 3vw 0 12vw;
      }


  }


/* resume */
.resume-main {
  padding: 2vh 0;
  margin: 2vh 3vw;
  }

  @media screen and (min-width: 40rem) {
    .resume-main {
      padding: 2vh 0;
      margin: 2vh 3vw 12vh 12vw;
      }
}

.resume-main h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 2rem;
  }

.resume-main h2 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 2rem;
  }

.resume-main h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(94,111,117);
  font-weight: 400;
  font-size: 1.2rem;
  }

.resume-main h3:nth-child(3n) {
  margin-top: 3rem;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  }

.resume-main p,
.resume-main ul {
  max-width: 80ch;
  line-height: 1.7;
  margin-top: 0.5rem;
  }




@media print {
.wrapper-page {
  display: block;
  margin: 0;
  }

.wrapper-page .sidebar { display: none; }

.resume-main { margin: 0.5in 0.25in 0.5in 0.5in; }

.resume-main h1 {
  margin-top: 0;
  font-size: 1.75rem;
  }

.resume-main h2 {
  margin-top: 0.25in;
  }

.resume-main h3 {
  margin-top: 0;
  margin-bottom: 0;
  }

.resume-main h3:nth-child(3n) {
  margin-top: 0.25in;
  margin-bottom: 0;
  }

.resume-main p,
.resume-main ul { margin: 0.1in 0 0.25in; }

.resume-main li { line-height: 1.4; }
}
