:root {
  --greenish: rgb(133,242,82);
  --grayish: rgb(122,111,100);
  }

html {
  box-sizing: border-box;
  }

*, *:before, *:after {
  box-sizing: inherit;
  }

html, body, ol, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  }

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
  }

code, pre {
  font-family: monospace;
  font-size: 1rem;
  background: rgba(121, 121, 121, 0.05);
  white-space: pre-wrap;
  }

body {
  background: rgba(255, 255, 255, 0.05);
  font-family: 'Merriweather', serif;
  color: var(--grayish);
  }

p {
  line-height: 1.7;
  margin: 1rem 0;
  }

a {
  color: rgb(0,0,0);
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  border-bottom: 1px solid black;
  }

a:hover {
  color: var(--grayish);
  background: var(--greenish);
  }

.wrapper,
.project-wrap {
  display: flex;
  margin: 2vh 3vw;
  flex-wrap: wrap;
  }

.project-sidebar { order: 2; }

.project-main {
  order: 1;
  margin-bottom: 4rem;
  }

#project-details p {
  margin: 0.25rem 0 0 0;
}

#proj-imgs img {
  border: 1px solid #ccc;
  margin: 1rem auto;
  padding: 4px;
}

@media screen and (min-width: 480px) {
.wrapper {
  display: grid;
  grid-template-columns: minmax(240px, 1fr) minmax(240px, 2fr);
  margin: 1rem;
  }
}

@media screen and (min-width: 640px) {
.project-wrap {
  display: grid;
  grid-template-columns: minmax(180px, 1fr) minmax(400px, 2fr);
  grid-gap: 2rem;
  margin: 1rem;
  }

.project-sidebar { order: 1; }

.project-main {
  order: 2;
  margin-bottom: 0;
  }

.project-main p { max-width: 64ch; }
}

header h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: rgb(94,111,117);
  }

header h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  text-transform: lowercase;
  }

.intro { padding: 1rem; }

.project-main h2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 2rem;
  }

#proj-desc { border-top:1px solid #cdcdcd; }

nav ul {
  line-height: 1.4;
  margin: 1rem 0;
  color: var(--grayish);
  list-style: none;
  border-top: 2px solid var(--grayish);
  margin-top: 3rem;
  padding-top: 1.5rem;
  font-size: 0.9rem;
  }

nav li { margin-bottom: 0.75rem; }

#mnav { columns: 2; }

.wrapper #pnav { display: none; }

.screens {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }

.thumb {
  margin: 1rem;
  flex: 1 1 15rem;
  }

.thumb a {
  border-bottom: 0;
  }

.thumb a img {
  border: 1px solid var(--grayish);
  padding: 0.3rem;
  display: block;
  margin-bottom: 0.2rem;
  }

.thumb a h3 {
  font-size: 0.825rem;
  font-weight: normal;
  color: var(--grayish);
  text-decoration: none;
  display: inline;
  }

.thumb a:hover { background: transparent; }

.thumb a:hover h3 { background: var(--greenish); }

#proj-imgs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }

#proj-imgs li { margin-top: 2rem; }

.resume { margin-left: 1vw; }

.resume h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-top: 2rem;
  }

.resume h2 {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 1.5rem;
  }

.resume h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(94,111,117);
  font-weight: 400;
  }

.resume h3:nth-child(3n) {
  margin-top: 3rem;
  margin-bottom: 0;
  }

.resume p { margin: 0.5rem 10vw 1rem 0; }

.resume ul { margin: 0.5rem 10vw 1rem 2rem; }

.resume li { line-height: 1.4; }
