---
layout: blog
title: blog
---

{% for post in collections.posts | head(-1) %}
  <h2>{{ post.data.title }}</h2>
  {{ post.templateContent | safe}}
  <p class="dateline">{{ post.data.longdate }}</p>
{% endfor %}
