<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} + {{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Spectral:700|Work+Sans:400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <header>
    <h1><a href="/">crankin</a></h1>
  </header>

<section class="biggie">
    <article class="main">
      {{ content | safe }}
    </article>

    {% include "archives.njk" %}

  <nav id="mainnav">
    {% include "blognav.njk" %}
  </nav>

  <footer id="allnav">
    {% include "allblognav.njk" %}
  </footer>
</div>

  <script type="text/javascript">
  function navLoad() {
    function toggle() {
      var el = document.getElementById('mainnav');
      if (el.className === 'navtop') el.className = 'navinit';
      else el.className = 'navtop';
    }

    document.querySelector('#mswitch').addEventListener('click', toggle, false);

    function toggleall() {
      var el = document.getElementById('allnav');
      if (el.className === 'navtop') el.className = 'navinit';
      else el.className = 'navtop';
    }

    document.querySelector('#allposts').addEventListener('click', toggleall, false);
  }

  document.addEventListener('DOMContentLoaded', navLoad, false);
  </script>

</body>
</html>
