<p><a href="#" id="mswitch">menu</a></p>
<ul class="navpost blognav">
  {% for post in collections.posts | reverse %}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>

<ul class="navpost">
  <li><a href="/projects">projects</a></li>
  <li><a href="/resume">r&eacute;sum&eacute;</a></li>
  <li><a href="mailto:crankin@getcrank.in">email</a></li>
  <li><a href="http://twitter.com/_crankin_/">twitter</a></li>
  <li><a href="https://www.are.na/christopher-rankin">are.na</a></li>
  <li><a href="http://pinboard.in/u:crankin/">pinboard</a></li>
  <li><a href="http://github.com/crankin/">github</a></li>
</ul>
