<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The website of Christopher Rankin, a digital strategist / product manager / web developer / interactive designer from Austin, Texas">
  <title>{{ title }} + {{ site.title }}</title>
  <link rel="stylesheet" href="/css/projects2.css">
</head>
<body>

{{ content | safe }}

</body>
</html>
